body {
	padding-bottom: 40px;
}

p {
	margin-bottom: 25px;
}

#navbar {
	max-width: 700px;
	margin: 0 auto;
	background: #fff;
	border-bottom: 1px solid #eee;
}

#navbar h3 {
	width: 129px;
	height: 68px;
	margin: 0;
	background: url(../images/logo-small.png) no-repeat 0 0;
	text-indent: -999999px;
}

.nav {
	margin-top: 17px;
}

.nav a.label:hover {
	background: #005580;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
	/*padding-top: 67px;*/
}

.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 70px 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 55px;
	line-height: 1;
}

.jumbotron .muted {
	font-size: 11px;
}

.jumbotron .btn-large {
	font-size: 21px;
	padding: 14px 24px;
}

pre.install {
	width: 276px;
	margin: 0 auto 25px;
}

.twitter-share-button {
	width: 90px !important;
}

#___plusone_0 {
	width: 70px !important;
}

.bsap {
	width: 380px;
	margin: 35px auto 0;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}

.marketing p + h4 {
	margin-top: 28px;
}

#faq article {
	margin-bottom: 35px;
	padding-left: 20px;
	border-left: 2px solid #eee;
}

#faq h4 span {
	position: absolute;
	display: block;
	margin: 0 0 0 -73px;
	padding: 13px 13px 15px;
	color: #999;
	font-size: 45px;
	background: #eee;
	border-radius: 8px 0 0 8px;
}

.footer .muted {
	color: #ddd;
}

.footer .muted a {
	color: #ddd;
	text-decoration: underline;
}
